@font-face{
    font-family:"TH Sarabun New";
    src: url(THSarabunNew.ttf) format("truetype");
    font-weight:normal;
    font-style:normal;
    /* unicode-range: U+0E00–U+0E7F; */
}

body {
    padding:0em;
    margin:0em;
    font-size:5vw;
    line-height:1.2;
    min-width:280px;
    font-family:"TH Sarabun New";
    background-color:transparent;
}
div {
    padding:16px 16px;
    padding-top: 16px;
    text-align:left;
    margin:0em;
    color:#4A4A4A;
}
.correctChoice,
.wrongChoice,
.selectChoice,
.choice {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 50px;
    border-radius: 25px;
    border: 1px #BDBDBD solid;
    margin: 16px;
}
.selectChoice {
    border: 1px rgb(34, 181, 96) solid;
    box-shadow: 0px 0px 8px rgba(34, 181, 96, 0.4);
}
.correctChoice {
    padding-right: 40px;
    border-color: rgb(21, 207, 98);
    box-shadow: 0px 0px 8px rgba(21, 207, 98, 0.4);
}
.wrongChoice {
    padding-right: 40px;
    border-color: rgb(245, 75, 94);
    box-shadow: 0px 0px 8px rgba(245, 75, 94, 0.4);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 500px;
}
.imgResult {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
}

div.choiceSolution {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
}

div.list {
    font-size:22px;
    min-width:200px;
    margin-left:-16px;
    margin-top:-16px;
}

math {
    font-family:"TH Sarabun New";
    font-size:5vw;
    /*    font-size:0.65em;*/
    line-height: 1.3;
    margin-left:0em;
    margin-right:0.5em;
    display: inline;
    max-width:280px;
}

.sepia{
    color:#704214;
}
.night{
    color:#FFFFFF;
}

.normal{
    color:#4A4A4A;
}

@media only screen and (min-width: 326px) and (max-width: 400px) {
    /* For mobile phones: */
    img{
        /*        text-align: center !important;*/
/*        width:100% !important;*/
        height: auto;
    }
    body, math {
        font-size:30px;
    }
}
@media only screen and (max-width: 325px) {
    img{
        /*        text-align: center !important;*/
/*        width:100% !important;*/
        height: auto;
    }
    body, math {
        font-size:24px;
    }
}
table{ width:100% !important; }
